{% extends 'base.html' %}
{% set active_page = "doc"+pagename %}
<!--The example page is constructed from a markdown file that resides in the /doc directory-->
{% block content %}
{{content|safe}}
<div id="popup" class="popup">
    <img id="popimg" class="popimg" src="" alt="Larger image">
    <span id="popclose" class="popclose">X</span>
</div>
<script src="{{url_for('static', filename='popup.js')}}?v=0.3"></script>
{% endblock %}
