<h1 class="nondoc">Error</h1>
<div class="txtbox">
<p>
    {{ message["error"] }}
</p>
{% for aline in message["log"] %}
{{aline|safe}}
{% endfor %}
<p>
    Please try again
</p>
<button onclick="moveto('{{landingpage|default(url_for('sitenav.index')+'?reset')}}')" class="btn" style="width: 15em;">Start over</button>
</div>