{% extends 'base.html' %}
{% set active_page = "index" %}
<!--Classical EmberFactory error page, for use outside the control.process route (which uses error_snip) -->

{% block topmessage %}
    <h1 class="nondoc" style="margin:auto;"> An error has occurred !</h1>
{% endblock %}

{% block content %}
    <p>
        {{ message["error"] }}
    </p>
    {% for aline in message["log"] %}
        {{aline|safe}}
    {% endfor %}
    <p>
        Please try again
    </p>
    <button onclick="goBack()" class="btn" style="width: 15em;">Go Back</button>

<script>
	function goBack() {
		window.history.back();
	}

</script>

{% endblock %}