{% set active_page = "more" %}
{% extends 'base.html' %}
{% block content %}
<h1 class="nondoc">Methodological development</h1>
<div class="txtbox">
    <p>This application and the related template are based on experience gained through expert elicitation during
        past IPCC reports, as described in <a href="https://www.nature.com/articles/s43017-020-0088-0">Zommers et al.
            2020</a>
        (section 'Methods in the SRCCL' and figure 5).</p>

    <h2>Acknowledgements</h2>
    <p>Several people contributed to discussions which helped in creating this app and its template file.
        We are very grateful to them. We apologise for not having a list ready for this beta version.
        Most people who helped are co-authors of <a href="https://www.nature.com/articles/s43017-020-0088-0">Zommers et
            al. 2020</a>,
        and we would like to thank them in particular. However, they cannot be held responsible for any errors in this
        application or the template provided.</p>

    <p>Feedback would be very appreciated, in particular because it would help us in defining priorities.</p>
</div>
<h1 class="nondoc">Technical information</h1>
<div class="txtbox">
    <p> The code is available as open-source here:
        (<a href="https://framagit.org/marbaix/emberelicitation">framagit.org</a>).
    <p>
</div>
<h1 class="nondoc">Development notes and history</h1>
<div class="txtbox">
    <p>This app was drafted in 2021 and partly revised at the end of 2023.
        The current version is the second beta, including corrections made in April 2024.
        It is made public in the hope that it might help new scientific assessments.
        If any important issue(s) surface, we would make all possible efforts to solve them. While we expect this tool
        to be reliable, it has a relatively limited set of features that might be broadened.
    </p>
    <h2>Recent news?</h2>
    <p> When an update is planned, it might be announced on <a href="https://climrisk.org">climrisk.org</a>.
    </p>

    <p> Help is welcome to further improve the application.
        For more information, please e-mail philippe.marbaix@uclouvain.be.
    </p>
</div>
{% endblock %}
