{% extends 'base.html' %}
{% set active_page = "index" %}
{% block content %}
<h1 class="nondoc">Result</h1>
<div class="txtbox">
    {% if message['error'] %}
        <h3>Critical issue message(s)</h3>
        This ember may contain errors and should not be published without investigating.<br>
        The detected problem(s) are:
        {% for aline in message['error'] %}
        <p class="compact"> - {{aline|safe}} </p>
        {% endfor %}
    {% endif %}

    {% if message['warning'] %}
        <div>The processing of your files generated warning messages. These do not necessarily mean that there is an error, but you should pay attention:
            <ul class="small">
                {% for aline in message['warning'] %}
                <li>{{aline|safe}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {%if not (message['error'] or message['warning']) %}
        <p>The processing of your files did not generate errors or warning messages.</p>
    {% endif %}

    <div style="display: inline-flex;">
        <a href="{{url_for('control.download', filename=message['begname']+'.pdf')}}" class="btn">
            <svg class="btn-icon" aria-hidden="true">
                <use href="{{ url_for('static', filename='icons.svg')}}#download"></use>
            </svg>
            Download as PDF
        </a>
        <a href="{{url_for('control.download', filename=message['begname']+'-mr.png')}}" class="btn">
            <svg class="btn-icon" aria-hidden="true">
                <use href="{{ url_for('static', filename='icons.svg')}}#download"></use>
            </svg>
            Download as PNG
        </a>
        <a href="{{url_for('control.download', filename=message['begname']+'-mr.jpg')}}" class="btn">
            <svg class="btn-icon" aria-hidden="true">
                <use href="{{ url_for('static', filename='icons.svg')}}#download"></use>
            </svg>
            Download as JPEG
        </a>
    </div>

    <div style="margin-top:12px; display: inline-flex;">
        <button onclick="logToggle('{{url_for('control.download', filename='log.html')}}')" class="btn">View / hide log information</button>
        <a href="{{ url_for('sitenav.index')+'?reset'}}" class="btn btn-danger">Restart with new files</a>
    </div>
    <div id="log" class="hidden log txtbox"></div>

    <img class="preview" style="width: {{message['img-width']}}pt;"
         src="{{url_for('control.download', filename=message['begname']+'-sc.png')}}"
         srcset="{{url_for('control.download', filename=message['begname']+'-re.png')}} 2x"
         alt="Image could not be produced">
    <p>
        <b>Legend</b>: The right part of the diagram provides probability density functions for the transitions based on
        the set of transition thresholds provided by experts. The transition from undetectable to moderate is shown in
        yellow,
        from moderate to high in red and from high to very high in purple (following
        <a href="https://www.nature.com/articles/s43017-020-0088-0">Zommers et al. 2020</a>, figure 5).
    </p>
</div>

<script src="{{url_for('static', filename='logtoggle.js')}}?v=1.0"></script>
{% endblock %}
