{% extends 'base.html' %}
{% set active_page = "index" %}
{% block content %}
<h1 class="nondoc">Instructions and elicitation form</h1>
<div class="txtbox">
    <p>
        The Ember Elicitation Desk is a tool to facilitate structured expert elicitation to illustrate climate change risks
        through "burning embers" diagrams. This tool presents expert contributions in a synthetic form
        to facilitate discussion between experts during "elicitation cycles"
        (it does not "prescribe" anything with regard to the final diagram).
        The approach is based on the methodology exposed in
        <a href="https://www.nature.com/articles/s43017-020-0088-0">Zommers et al. 2020</a> (section 'Methods in the SRCCL'
        and figure 5).
    </p>
    <a href="{{ url_for('.examples_fil', filepath='examples/EmberElicitation-Template.xlsx')}}" class="btn btn-right">
        <svg class="btn-icon" aria-hidden="true">
            <use href="{{ url_for('static', filename='icons.svg')}}#download"></use>
        </svg>
        Elicitation template
    </a>
    <p>
        A single person (a facilitator) needs to upload all files filled by experts
        at once, following the file submission process below. Each expert needs to provide his/her information
        about a system at risk using a standard template in Excel format (click on 'Elicitation template' to get it).
        The template contains specific instructions on how experts should conduct their assessment and provide the
        resulting data, while the "Tutorial" menu above provides more general information on the process
        (and should therefore at least be read by facilitators).
    </p>
    <p>

        <a href="{{ url_for('.examples_fil', filepath='examples/EmberElicitation-SRCCL-test.zip')}}" class="btn btn-right">
        <svg class="btn-icon" aria-hidden="true">
            <use href="{{ url_for('static', filename='icons.svg')}}#download"></use>
        </svg>
        Example
    </a>
        If you want to <b>test the application rapidly</b>, a set of example files based on IPCC SRCCL (related to the first round
        illustrated in Zommers et al. 2020) is available on the right.
        Please do not use the example files as template, as the actual template (above) contains additional information to
        experts contributing to the elicitation. <b>To learn more</b>, read the
         <a href="doc/tutorial">tutorial</a> and the guidelines provided in the template.
    </p>
</div>
<script>
    let urlPOST = "{{ url_for('control.process')}}"
    let csrf = "{{ csrf_token() }}"
</script>
<h1 class="nondoc">Upload & process</h1>
    <fieldset class="noaround">
        <div class="txtbox">
            <p style="margin-top:0">To start, select your data files here. You may select files one by one or several files at
                once (click on 'Add files' to open the selection window, then use CTRL-A, or cmd-A on Mac):
            </p>
            <input type="file" id="fileInput" name="newfiles" multiple accept=".xls,.xlsx" style="display:none"
                   onchange="fileAdd(this.files)"/>
            <div style="display: flex; margin: 1.5em 0 1.5em 0;">
                <button type="button" style="margin: auto 20px auto 0; width: 8rem; " class="btn center" id="fileSelect">Add
                    files
                </button>
                <table style="margin: auto 0 auto 0;" id="fileNames">
                </table>
            </div>

            <p style="margin-bottom: 6px;">Probability distribution (keep the default value if
                you do not have a specific need or wish; we do not expect large difference in results): </p>
            <form enctype="multipart/form-data" id="form" name="form">
                <div class="switches">
                    <div><input id="standard" name="pdname" type="radio" value="standard" {{settings.checked_standard}}>
                        <label for="standard">
                            Default choice: Modified-PERT distribution; smooth curves.</label>
                    </div>
                    <div><input id="triang" name="pdname" type="radio" value="triang" {{settings.checked_triang}}>
                        <label for="triang">
                            Triangular.</label>
                    </div>
                </div>
            </form>
            <div class="switches">
                <input type="checkbox" id="delfile" name="delfile" checked="checked" value="1">
                <label for="delfile" class="check">Delete my input files and graphics from the server after use
                    (uncheck if you want to give the app maintainers access to your work to
                    potentially improve this application; nothing would be public;
                    if you leave it checked, your data and graphics will be deleted 2 hours after processing)</label>
            </div>
                <p>When all the above is ready,</p>
            <div class="center">
                <button type="button" class="btn" id="uploadBtn">Upload and process files</button>
            </div>
            <p>
            Thanks for your visit!
            </p>
        </div>
    </fieldset>

<script src="{{url_for('static', filename='filechooser.js')}}?v=0.3"></script>
{% endblock %}
